{% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<h1>こんにちは</h1>
{% if request.user.is_authenticated %}
<p>{{  request.user.username  }}</p>
<p><a href="{% url 'logout' %}">ログアウト</a></p>
{% else %}
<p><a href="{% url 'app01:signup' %}">新規登録</a></p>
<p><a href="{% url 'login' %}">ログイン</a></p>
{% endif %}
<p>これはテスト用のviewです</p>
{% for memo in memo_list %}
<li>
    <a href="{% url 'app01:detail' memo.pk %}">
    {{ memo.title }}
    </a>
    {% if memo.user %}
    {{ memo.user.username }}
    {% else %}
    ゲストユーザ
    {% endif %}
</li>
{% endfor %}
<form method="POST" >
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <button type="submit"
    {% if not request.user.is_authenticated %}
            disabled
            {% endif %}>送信</button>
</form>